#javaScript {
  display: none;
}

#ruby {
  display: none;
}

#python {
  display: none;
}

.languages {
  text-align: center;
  color:rgb(46, 45, 45);
}

.alert-heading {
  display: none;
}

h1 {
  text-align: center;
  color: rgb(46, 45, 45)
}

select {
  text-align: center;
}

body {
  background-color: rgb(174, 182, 128)
}

.cardSubmit {
  text-align: center;
}

#sButton {
  border-radius: 40px 15px;
}

h4 {
  color:rgb(46, 45, 45);
}