#javaScript {
  display: none;
}

#ruby {
  display: none;
}

#python {
  display: none;
}

.languages {
  text-align: center;
  color:rgb(174, 182, 128)
}

.alert-heading {
  display: none;
}

h1 {
  text-align: center;
  color: rgb(46, 45, 45)
}

body {
  background-color: rgb(174, 182, 128)
}



h4 {
  color:rgb(174, 182, 128);
}