#javaScript {
  display: none;
}

#ruby {
  display: none;
}

#python {
  display: none;
}

.languages {
  text-align: center;
  color:rgb(46, 45, 45);
}

.alert-heading {
  display: none;
}

h1 {
  margin: top 20px;
  margin: bottom 20px;
  text-align: center;
  color: rgb(46, 45, 45)
}

select {
  text-align: center;
}

.cardSubmit {
  text-align: center;
  margin: top 20px;
  margin: bottom 20px;
}
.card-body{ 
  margin: bottom 20px;
}

#sButton {
  border-radius: 40px 15px;
}

h4 {
  color:rgb(46, 45, 45);
}